.cards {
  display: flex;
  height: 200px;
  background-color: #373737;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.card-1 {
  background-color: #1abc9c;
}
.card-2 {
  background-color: #9b59b6;
}
.card-3 {
  background-color: #e74c3c;
}
.card-4 {
  background-color: #f1c40f;
}
.card-5 {
  background-color: #bdc3c7;
}
.card-6 {
  background-color: #2980b9;
}
